/********************************************* HEADER *******************************************************************/
.main-header-container {
  color: white;
  background-color: #f72210;
}

.top-logo {
  filter: invert(1);
}

.mobile-logo {
  width: 132px;
  height: 20px;
}

.main-header-right-align {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.login {
  text-decoration: none;
  color: white;
}

.button-subscribe {
  font-weight: 700;
  border-radius: 20px;
}

.link {
  font-size: 19px;
  font-weight: 700;
  white-space: nowrap;
}

li input {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

.bottom-link {
  text-transform: uppercase;
  color: gray;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .button-subscribe {
    font-size: 13px;
    font-weight: 700;
  }
}

a {
  text-decoration: none;
  color: black;
}

/********************************************************  FOOTER  *******************************************************************************/

.footer-logo {
  width: 251px;
  height: 48px;
  fill: red;
}

li a {
  text-decoration: none;
  color: gray;
}

.ul-links-bottom > li {
  font-size: 14px;
}

.main-footer-right-align i {
  color: gray;
}

.first-footer-item {
  font-weight: 700;
}

.more-stories-img,
.latest-stories-img {
  width: 95px;
  height: 95px;
}

.debate-profile-image {
  width: 63px;
  height: 63px;
}

.rounded-circle {
  width: 30px;
  height: 30px;
}

.signup-logo {
  width: 29px;
  height: 28px;
}

.bottom-left {
  text-align: center;
  opacity: 90%;
  bottom: 0%;
  left: 0%;
}
