/********************************************* HEADER *******************************************************************/
.main-header-container {
  color: white;
  background-color: #f72210;
}

.top-logo {
  filter: invert(1);
}

.mobile-logo {
  width: 132px;
  height: 20px;
}

.main-header-right-align {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.login {
  text-decoration: none;
  color: white;
}

.button-subscribe {
  font-weight: 700;
  border-radius: 20px;
}

.link {
<<<<<<< Updated upstream
  font-size: 19px;
  font-weight: 700;
  white-space: nowrap;
}

li input {
  width: 100%;
=======
  font-size: 16px;
  font-weight: 700;
>>>>>>> Stashed changes
}

.bottom-link {
  text-transform: uppercase;
  color: gray;
  font-weight: 700;
}

<<<<<<< Updated upstream
ul {
  list-style-type: none;
=======
@media only screen and (max-width: 768px) {
  .button-subscribe {
    font-size: 13px;
    font-weight: 700;
  }
>>>>>>> Stashed changes
}

@media only screen and (max-width: 768px) {
  .button-subscribe {
    font-size: 13px;
    font-weight: 700;
  }
}

<<<<<<< Updated upstream
/********************************************************  FOOTER  *******************************************************************************/

=======
>>>>>>> Stashed changes
.footer-logo {
  width: 251px;
  height: 48px;
  fill: red;
}

li a {
  text-decoration: none;
  color: gray;
}

.ul-links-bottom > li {
  font-size: 14px;
}

.main-footer-right-align i {
  color: gray;
<<<<<<< Updated upstream
}
=======
}

.first-footer-item {
  font-weight: 700;
}

/****************************************main*************************************************/
.wide {
  max-width: 131rem;
}

.upper {
  margin-top: 7rem;
}

.section-title {
  color: #03030366;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-bottom: 1.1rem;
  padding-top: 2rem;
}

.story {
  padding-bottom: 20px;
}

.boxed {
  position: relative;
  min-height: 3.3rem;
}

.boxed > img {
  position: relative;
  width: 100%;
}

.inner-caption {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.main-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 10px;
}

h3 {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 22px;
  color: #000;
}
>>>>>>> Stashed changes
